:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #9966FF;
    --border-color: #dbdbdb;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: sans-serif;
    box-sizing: border-box;
}
.auth-form{
	
	
}

.auth-form__noidung {
	background-color: white;
    width: 450px;
    height: 600px;
    border: 1px solid gray;
    border-radius: 10px;
    text-align: center;
    border-styLe: groove;
    padding: 0 32px;
    margin-top: 50px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form__dk {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__swtich-btn {
    font-size: 1.6rem;
    font-weight: 450;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 20px;
    text-indent: 10px;
}

.auth-form__input:focus {
    border-color: #777;
}

.auth-form_dieukhoan {
    margin-top: 20px;
}

.auth-form__text {
    font-size: 1.2rem;
    line-height: 1.6rem;
    /* cách nhau của mỗi dòng chữ */
    text-align: center;
}

.auth-form__link {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1.3rem;
    /* bỏ gạch chân ở link */
}

.auth-form__group_1 {
    display: inline-block;
}

.auth-form__controls {
    display: flex;
    justify-content: flex-end;
    margin-top: 60px;
}


/* Button style */

.btn {
    width: 100px;
    height: 35px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    cursor: pointer;
    /* color: var(--text-color);
    border-color: var(--white-color); */
}

.btn.btn_primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.auth_form__controls-back {
    margin-right: 6px;
}


/* Phần form chính */

ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

.auth-form__text {
    font-size: 1.2rem;
    line-height: 1.6rem;
    /* cách nhau của mỗi dòng chữ */
    text-align: center;
}

li a,
.dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
    background-color: #f9f9f9;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* Css header */

.image {
    width: 100%;
    height: 60px;
    background-color: rgb(48, 230, 24);
}

.menu {
    width: 100%;
    height: 100px;
    background-color: blueviolet;
}

.input_find {
    margin: 35px 10px 35px 460px;
    border: 1px solid rgb(82, 81, 81);
    border-radius: 14px;
    width: 255px;
    height: 30px;
}

.btn_dowload {
    margin-left: 40px;
    margin-right: 162px;
    border: 1px solid rgb(7, 156, 243);
    border-radius: 14px;
    height: 20px;
}

.span_group {
    cursor: pointer;
}